:root {
    --vp-c-bg: #ffffff ;
    --vp-home-hero-name-color: #5300D1;
    --vp-c-brand-1: #5300D1;
    --vp-c-brand-2: #5300D1;
    --vp-c-brand-3: #5300D1;    
}

.dark {
    --vp-c-bg: #1e1e1e;
    --vp-home-hero-name-color: #A075F0;
    --vp-c-brand-1: #A075F0;
    --vp-c-brand-2: #A075F0;
    --vp-c-brand-3: #A075F0;
}